.banner-container {
  background-image: url("../../assets/images/Background.png");
  background-size: 60% auto;
  background-position: top right;
  background-repeat: no-repeat;
}

.rotated-content {
  transform: rotate(-23deg); /* Rotate the content by -45 degrees */
}
